body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;	
}
a{
	text-decoration:none;	
}
ul, ol, li{
	margin:0;
	padding:0;
	list-style-type:none;
}
img{
	max-width:100%;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
h1{
	font-size:18px;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.clearfix{
	clear:both;
}
.container{
	width:100%;
	max-width:1024px;
	margin:0 auto;
}
.header{
	width:100%;
	display:inline-block;
	background:#03bad9;
	padding:20px 0px;
}
.header h1{
	padding-left:20px;	
	color:#FFFFFF;
}
.header .navbar-search{
	padding-right:20px;
	width:220px;
}
.header .navbar-search input{
	padding:5px 0px 5px 5px;
	border:0;
	height:18px;
	background:#FFFFFF;
	font-size:12px;
	color:#333333; 
	width:100%;
}
.slider {   
    height: 100%;
	max-height:500px;
    margin: 20px auto;
    position: relative;
    width: 100%;
	overflow:hidden;
	display: inline-block;
    text-align: center;
	
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide.ng-hide-add {
    opacity:1;
	position:absolute;
	top:0;
	
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);

    -webkit-transform-origin:  right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin:   right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
.arrow {
    cursor: pointer;
    display: block;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.arrow.prev {
    background: url("../images/prev.png") no-repeat 10px #ffffff ;
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
	border-radius: 50%;
    background-size: 60%;
    padding: 30px;
	 -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
		box-shadow: 0 10px 6px -6px #777;

}
.arrow.next {
    background: url("../images/next.png") no-repeat 10px #ffffff;
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
	border-radius: 50%;
    background-size: 60%;
    padding: 30px;
 -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
		box-shadow: 0 10px 6px -6px #777;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}
.pagination{
	width:100%;
	display:inline-block;
}
.nav {
	display: inline-block;
	margin: 0 auto;
	right: 0;
	text-align: center;
	width: 100%;
	z-index: 5;
}
.nav li {
	border: 2px solid #AAAAAA;
	
	cursor: pointer;
	display: inline-block;
	height: 40px;
	margin: 0 8px;
	position: relative;
	width: 7%;
	overflow: hidden;
}
.nav li.active {
    border: 2px solid #03bad9;
}
.nav li img {
    width: 100%;
}

.pagination .count{
	width:100%;
	display:inline-block;
	margin-top:20px;
	text-align:center;
}
.pagination .count a{
	color:#000000;
	font-weight:bold;
}
.pagination .count a:hover{
	color:#03bad9;
}

@media screen and (max-width: 767px) {
.arrow.next,
.arrow.prev{
	padding:20px;
}
.nav li{
		width: 17%;
		height: 25px;
}
}